---
const {
  title = "WORLD LOGISTICS & COMMERCE S.A.C.",
  description = "",
  keywords = "",
  author = "EXE MARKETING DIGITAL INTEGRADO",
  themeColor = "#031c56",
  ogTitle = "WORLD LOGISTICS & COMMERCE S.A.C.",
  ogDescription = "",
  ogImage = "",
  ogUrl = "",
  ogSiteName = "",
} = Astro.props;

const isProd = import.meta.env.PROD;
const baseUrl = import.meta.env.BASE_URL;
---

<meta charset="utf-8" />
<title>{title}</title>

<meta name="description" content={description} />
<meta name="keywords" content={keywords} />
<meta name="author" content={author} />
<meta name="copyright" content="WORLD LOGISTICS & COMMERCE S.A.C." />
<meta name="language" content="ES" />
<meta name="robots" content="index,follow" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="theme-color" content={themeColor} />
<meta name="msapplication-navbutton-color" content={themeColor} />
<meta property="fb:app_id" content="" />
<meta property="og:type" content="website" />
<meta property="og:url" content={ogUrl} />
<meta property="og:site_name" content={ogSiteName} />
<meta property="og:title" content={ogTitle} />
<meta property="og:description" content={ogDescription} />
<meta property="og:image" content={ogImage} />
<meta property="og:image:width" content="400" />
<meta property="og:image:height" content="400" />
<link rel="stylesheet" type="text/css" href={`${baseUrl}css/bootstrap.css`} />
<link
  rel="stylesheet"
  type="text/css"
  href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"
/>
<link href={`${baseUrl}css/font-awesome.min.css`} rel="stylesheet" />
<link href={`${baseUrl}css/style.css`} rel="stylesheet" />
<link href={`${baseUrl}css/responsive.css`} rel="stylesheet" />
<link href={`${baseUrl}css/common.style.css`} rel="stylesheet" />

